$colour_body: #fff;
$colour_text: rgb(74, 44, 204);
$colour_h1: rgb(53, 139, 46);
$colour_greencard: rgba(53, 139, 46, 0.5);
$colour_yellowcard: rgba(255, 255, 0, 0.5);
$colour_redcard: rgba(255, 0, 0, 0.5);